# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Distribution files
dist/
build/
*.egg-info/

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
